<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="oracleBD"
         connectionString="DATA SOURCE=ORCL;PERSIST SECURITY INFO=True;USER ID=C##_ADMINISTRADOR; PASSWORD=administrador;
         HOST=172.31.9.149; PORT=1521; SERVICE_NAME=TurismoReal; PROTOCOL=TCP;"
         providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
</configuration>
